<div class="container min-height-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="center-main"> 
        <div>
          <% if Rails.cache.read('success') == true %>
            <p><strong><%= Rails.cache.read('message') %></strong></p>
            <p><%= "Your move - "%> <strong><%= Rails.cache.read('player-move') %></strong></p>
            <p><%= "Server move "%> <strong><%= Rails.cache.read('server-move') %></strong></p>
            <p><%= "Outcome - "%><strong><%= Rails.cache.read('result') %></strong></p>
          <% else %>
              <p><strong><%= Rails.cache.read('message') %></strong></p>
          <% end %>
          <p><strong><%= link_to 'Home', root_path %></p></strong>
        </div>
      </div>
    </div>
  </div>
</div>
